<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      <h1>Editing inspection</h1>
    </div>
  </div>
  <div class="card-body">
    <%= render "form", inspection: @inspection %>

    <br>

    <div>
      <%= link_to t('show'), [:admin, @inspection], class: 'btn btn-info' %> |
      <%= link_to t('back'), admin_inspections_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
