<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      <h1>Novo Perfil</h1>
    </div>
  </div>
  <div class="card-body">
    <%= render "form", profile: @profile %>

    <br>

    <div>
      <%= link_to t('back'), admin_profiles_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
